<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>История доступа</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    {% include 'header.html' %}
    <div class="container">
        <h1>История доступа</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Тип</th>
                    <th>Детали</th>
                    <th>Время</th>
                </tr>
            </thead>
            <tbody id="logs-table">
                <!-- Данные с сервера -->
            </tbody>
        </table>
        <a href="/">Вернуться на главную</a>
    </div>
    <script src="../static/access_history.js"></script>
</body>
</html>
