<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Админ-меню</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    {% include 'header.html' %}
    <div class="container">
        <h1>Админ-меню</h1>
        <ul>
            <li><button onclick="addUser()">Добавить пользователя</button></li>
            <li><button onclick="deleteUser()">Удалить пользователя</button></li>
            <li><a href="access_history">История доступа</a></li>
            <li><a href="/">Вернуться на главную</a></li>
        </ul>
    </div>
    <script src="../static/admin_menu.js"></script>
</body>
</html>
