<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartAccess</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    {% include 'header.html' %}
    <div class="container">
        <h1>Добро пожаловать в систему SmartAccess</h1>
        <p>Выберите действие:</p>
        <ul>
            <li><a href="admin_menu">Перейти в Админ-меню</a></li>
            <li><a href="user_list">Посмотреть список пользователей</a></li>
        </ul>
    </div>
</body>
</html>
