<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список пользователей</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    {% include 'header.html' %}
    <div class="container">
        <h1>Список пользователей</h1>
        <table>
            <thead>
                <tr>
                    <th>ID карты</th>
                    <th>Имя</th>
                    <th>Уровень доступа</th>
                </tr>
            </thead>
            <tbody id="user-table">
                <!-- Данные с сервера -->
            </tbody>
        </table>
        <a href="/">Вернуться на главную</a>
    </div>
    <script src="../static/user_list.js"></script>
</body>
</html>
